
<div class="row">
    <div *ngFor="let movie of trendingMovies" class="col-md-2">
        <div class="movie">
            <img [src]="posterPrefix+movie.poster_path" alt="" class="w-100">
            <h5>{{movie.title}}</h5>
            <p>{{movie.overview}}</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <ul>
            <li>
                <a routerLink="web">Web</a>
            </li>
            <li>
                <a routerLink="mobile">Mobile</a>
            </li>
        </ul>
    </div>
    <div class="col-md-10">
        <router-outlet></router-outlet>
    </div>
</div>
